<div class="follow">
  <div class="follower"><%= user.name %>のフォロワー</div>
  <% @user.followers.each do |user| %>
    <%= profile_img(user) %>
    <%= user.name %></br>
  <% end %>
</br>
  <div class="followed"><%= user.name %>のフォローしている人</div>
  <% @user.followed_users.each do |user| %>
    <%= profile_img(user) %>
    <%= user.name %></br>
  <% end %>
</div>
<%= link_to "一覧へ戻る", users_path %>
